<div class="estimated-box">
  <div class="estimated-row">
    <img src="https://cdn.shopify.com/s/files/1/0734/7988/1010/files/van_1.png?v=1686927021" style="height:35px;float:left;margin-right:10px;padding-bottom: 4px;"/>
  <p>
    {{ 'general.config.estimated_delivery' | t }}<br><strong><span id="fromDate"></span> - <span id="toDate"></span></strong></p>
  
    <div class="estimated_value_min_delivery_day hidden">{{ product.metafields.custom.min_delivery_day }}</div>
    <div class="estimated_value_max_delivery_day hidden">{{ product.metafields.custom.max_delivery_day }}</div>
  </div>
</div>