{%- comment -%} Figma 1710:38180 — L2 hover arrow (19×19, rotate 45°) {%- endcomment -%}
<span class="evamats-header__catalog-l2-arrow" aria-hidden="true">
  <svg class="evamats-header__catalog-l2-arrow-icon" width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
    <g transform="translate(9.5 9.5) rotate(45) translate(-6.6923 -6.6923)">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.21678 0H12.1678C12.8398 0 13.3846 0.544772 13.3846 1.21678V12.1678H10.951V4.15436L2.48838 12.617L0.76759 10.8962L9.23026 2.43357H1.21678V0Z" fill="currentColor"/>
    </g>
  </svg>
</span>
