{%- liquid
  assign checkout_variant = product.selected_or_first_available_variant
-%}

<div class="evamats-config-checkout" {{ block.shopify_attributes }}>
  <div class="evamats-config-checkout__card">
    <div class="evamats-config-checkout__total-row">
      <p class="evamats-config-checkout__total-label">{{ 'general.config.total' | t }}</p>
      <div class="evamats-config-checkout__prices">
        <span class="evamats-config-checkout__price-old sticky_config_price_compare option__price_compare hidden"></span>
        <span class="evamats-config-checkout__price-current sticky_config_price_price">
          {{- checkout_variant.price | money_without_trailing_zeros -}}
        </span>
        <span class="evamats-config-checkout__discount evamats-sticky-card__discount hidden"></span>
      </div>
    </div>

    {%- render 'buy-buttons',
      block: block,
      product: product,
      product_form_id: product_form_id,
      section_id: section_id,
      show_pickup_availability: false,
      config_checkout: true,
      skip_block_attributes: true
    -%}
  </div>

  {%- if request.locale.iso_code == 'en' -%}
    <div class="product__right_hand_message hide_on_outlet openPopup" data-popup="popupOverlayRightHand">{{ 'general.config.right_hand_message_short' | t }}</div>
    <div class="product__right_hand_message show_on_outlet">🚗 This set for left-hand drive vehicle</div>
  {%- endif -%}

  {%- render 'evamats-config-checkout-notes', block: block, product: product -%}
</div>
