<ul class="evamats-config-checkout__payment-list list-unstyled" role="list">
  {%- assign payment_gateways = 'go_pay,visa,mc,ae,discover,apay,gpay' | split: ',' -%}
  {%- for type in payment_gateways -%}
    <li class="evamats-config-checkout__payment-item">
      {%- assign typeSvg = type | append: '.svg' -%}
      <img src="{{ typeSvg | file_url }}" alt="{{ type }}" loading="lazy" width="40" height="26">
    </li>
  {%- endfor -%}
</ul>
