{%- comment -%}
  @param direction {string} prev | next
{%- endcomment -%}

<span class="evamats-slider-arrow" aria-hidden="true">
  {% render 'evamats-pagination-arrow', direction: direction %}
</span>
