<script>

  function mwApoCustom() {

  function zoomImage () {
    const mainImg = document.querySelector('.mws-gallery');
    const zoomImg = document.querySelector('.mws-gallery_hide');
    const btnClose = document.querySelector('#mws-toggle');
    const galleryMobile = document.querySelector('.mws-gallery_mobile img');
    const btnCloseGalleryMobile = document.querySelector('#mws-toggle_mobile')

    galleryMobile.addEventListener("click", (e) => {
      document.querySelector('.custom-gallery_mobile').classList.contains('mws_hide') ? document.querySelector('.custom-gallery_mobile').classList.remove('mws_hide') : '';
      btnCloseGalleryMobile.classList.contains('mws_hide') ? btnCloseGalleryMobile.classList.remove('mws_hide') : '';
    });
       
    btnCloseGalleryMobile.addEventListener("click", (e) => {
      document.querySelector('.mws-gallery_mobile').classList.contains('mws_hide') ? '' : document.querySelector('.custom-gallery_mobile').classList.add('mws_hide');
      btnCloseGalleryMobile.classList.contains('mws_hide') ? '' : btnCloseGalleryMobile.classList.add('mws_hide');
    });
       

    mainImg.addEventListener("click", (e) => {
      zoomImg.classList.contains('mws_hide') ? zoomImg.classList.remove('mws_hide') : '';
    });
      
    btnClose.addEventListener("click", (e) => {
      zoomImg.classList.contains('mws_hide') ? '' : zoomImg.classList.add('mws_hide');
    });
  }
    
  function replaceImage(mainSrc) {
    const gallery = document.querySelector('.mws-gallery img');
    const galleryMobile = document.querySelector('.mws-gallery_mobile img');
    const customGalleryMobile = document.querySelector('.custom-gallery_mobile img');

    if (gallery && galleryMobile && customGalleryMobile) {
      gallery ? gallery.setAttribute("src", mainSrc) : '';
      gallery ? gallery.setAttribute("srcset", mainSrc) : '';
      galleryMobile ? galleryMobile.setAttribute("src", mainSrc) : '';
      galleryMobile ? galleryMobile.setAttribute("srcset", mainSrc) : '';
      customGalleryMobile ? customGalleryMobile.setAttribute("src", mainSrc) : '';
      customGalleryMobile ? customGalleryMobile.setAttribute("srcset", mainSrc) : '';
    }
  };

  function createCustomGallery(getMainImg) {
    const mainImg = document.querySelector(getMainImg);
    const mainSrc = mainImg.getAttribute("srcset");
    const target = document.querySelector('.product__media-wrapper');
    if (!document.querySelector('.mws-gallery')) {
      target.insertAdjacentHTML("beforeend", `<div class="mws-gallery"><img src="${mainSrc}" srcset="${mainSrc}"></div><div class="test2"> </div>` ); 
    } 
  }
   
  function createCustomMobileGallery(getMainImg) {
    const mainImg = document.querySelector(getMainImg);
    const mainSrc = mainImg.getAttribute("srcset");

    if (document.querySelector('.mw-option--type-multiswatch')) {
          
      const target = document.querySelector('.mw-option--type-multiswatch');

      if (!document.querySelector('.mws-gallery_mobile')) {
        target.insertAdjacentHTML("beforebegin", `<div class="mws-gallery_mobile"><img src="${mainSrc}" srcset="${mainSrc}"> <button id="mws-toggle_mobile" type="button" class="mws_hide product-media-modal__toggle" aria-label="Zamknij"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17"><path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor"></path></svg></button></div>`); 
      } 
    } else if (document.querySelector('.mw-option--type-textarea')) {
            
      const target = document.querySelector('.mw-option--type-textarea');

      if (!document.querySelector('.mws-gallery_mobile')) {
        target.insertAdjacentHTML("beforebegin", `<div class="mws-gallery_mobile"><img src="${mainSrc}" srcset="${mainSrc}"> <button id="mws-toggle_mobile" type="button" class="mws_hide product-media-modal__toggle" aria-label="Zamknij"><svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" class="icon icon-close" fill="none" viewBox="0 0 18 17"><path d="M.865 15.978a.5.5 0 00.707.707l7.433-7.431 7.579 7.282a.501.501 0 00.846-.37.5.5 0 00-.153-.351L9.712 8.546l7.417-7.416a.5.5 0 10-.707-.708L8.991 7.853 1.413.573a.5.5 0 10-.693.72l7.563 7.268-7.418 7.417z" fill="currentColor"></path></svg></button></div>`); 
      } 
    }
  }

  
  window.mwApoInit  = window.mwApoInit  || {};
  
  window.mwApoInit.onEvent = function (event, args) {  

    if (event == "init::finish") {


  // ---------
        // if (document.querySelector(".shopify-payment-button shopify-accelerated-checkout shopify-google-pay-button")) {
        //        document.querySelector(".shopify-payment-button shopify-accelerated-checkout shopify-google-pay-button").style.display = "none";
        //   document.querySelector(".shopify-payment-button shopify-accelerated-checkout more-payment-options-link").style.display = "none";
        // }
 

      // -------
 
      setTimeout(() => {
        zoomImage();
      }, 500);                          
              
      setTimeout(() => {
        createCustomGallery(".mws-gallery_hide img");
        createCustomMobileGallery(".mws-gallery_hide img");
      }, 50);
     
      setTimeout(() => {   
        // let btn = document.querySelector('.product-form__buttons');
        // document.getElementById('mw-spinner')?.remove(); 
        // document.querySelector('.mws-options').style.height = '0'; 
        // btn.classList.contains('disabled-mws') ? btn.classList.remove('disabled-mws') : '';  
           
        let btns = document.querySelectorAll('.product-form__buttons, .partial-paymant__btn');
        document.getElementById('mw-spinner')?.remove(); 
        document.querySelector('.mws-options').style.height = '0'; 
         btns.forEach(btn=>{
           btn.classList.contains('disabled-mws') ? btn.classList.remove('disabled-mws') : '';
         }  
                     )
      }, 3000);

    }
    // ---spinner for buy button ----
    
    if (event == "attachEvents::initAddToCart::clickStart") {
      let btn = document.querySelector(".mw-apo-add-to-cart-cloned .loading-overlay__spinner");
      btn.classList.remove('hidden');
      btn.disabled = true;
    }
  
    if (event == "onClick::validate-failed") {
      let btn = document.querySelector(".mw-apo-add-to-cart-cloned .loading-overlay__spinner ");
      btn.classList.remove('hidden');
      btn.disabled = false;
    }

    if (event == "attachEvents::initAddToCart::clickFinally") {
      setTimeout(function () {
        let btn = document.querySelector(".mw-apo-add-to-cart-cloned .loading-overlay__spinner");
        btn.classList.add('hidden');
        btn.disabled = false;
      }, 500);
    }


    // ---spinner for buy now -- start----
 
      if (event == 'attachEvents::initBuyItNow::clickStart') {   
        // setTimeout(()=>{
        const btnByNows = document.querySelectorAll(".shopify-payment-button__button");
        btnByNows.forEach(btn=>{
           btn.classList.add("mws-btn-by-now");
        })

        
        let btn = document.querySelector(".payment-btn-loading-overlay__spinner .shopify-payment-button .shopify-payment-button__button ");   
        // let spinner = btn.querySelector('.payment-btn-loading-overlay__spinner .loading-overlay__spinner');   
        let spinner = document.querySelector('.payment-btn-loading-overlay__spinner .loading-overlay__spinner');  
        if (spinner) { 
          spinner.classList.remove('mws_hide-btn');
        }
        
        // else {
          // btn.insertAdjacentHTML("beforeend", `<div class="loading-overlay__spinner mws_hide-btn"><svg aria-hidden="true" focusable="false" role="presentation" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg"><circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle></svg></div>`);      
          // let spinner = btn.querySelector('.payment-btn-loading-overlay__spinner .loading-overlay__spinner');      
          // spinner.classList.remove('mws_hide-btn');
    // }
   
      // },0)
        // debugger;
    }

    if (event == 'onClickBuyItNow::validate-failed') {   
      setTimeout(()=>{
          const btnByNows = document.querySelectorAll(".shopify-payment-button__button");
         btnByNows.forEach(btn=>{
             btn.classList.remove("mws-btn-by-now");
          })
        // let btn = document.querySelector(".payment-btn-loading-overlay__spinner .shopify-payment-button .shopify-payment-button__button ");   
        let spinner = document.querySelector('.payment-btn-loading-overlay__spinner .loading-overlay__spinner');
        spinner.classList.add('mws_hide-btn');
      },50)
    }
   
    if (event == 'onClickBuyItNow::finish') {   
      setTimeout(()=>{
         // let btn = document.querySelector(".payment-btn-loading-overlay__spinner .shopify-payment-button .shopify-payment-button__button ");        
        let spinner = document.querySelector('.payment-btn-loading-overlay__spinner .loading-overlay__spinner');
        spinner.classList.add('mws_hide-btn');
        
         const btnByNows = document.querySelectorAll(".shopify-payment-button__button");
         btnByNows.forEach(btn=>{
             btn.classList.remove("mws-btn-by-now");
          })
        window.location='/checkout';
      },100)
    }

      // --- end----
  };

   function getValue(id) {
    if (typeof mwApoInit.response !== "undefined") {
      for (const val of Object.values(mwApoInit.response)) {
        for (const key in val.values) {
          if (key == id) {
            if (typeof val.values[id]) {
              return val.values[id].value.images;
            }
          }
        }
      }
    }
  }
  
  window.mwApoInit.onCallback = function (event, data) {
    if (event == "applyAttributeStateToHtml::price") {
      setTimeout(() => {     
        let options = document.querySelectorAll('.mw-option.mw-option--type-swatch:not(.mw-hidden)'); 
        options.forEach(function (item) {
          let title = item.querySelector('.mw-text.mw-text--style-strong').innerHTML;
          if (title.includes("obszycia")) {              
            let swatch = item.querySelector('.mw-option__value');
            let selected = item.querySelector('.mw-option__value--selected');
            let id;
            if (selected) {
                id = selected.getAttribute('data-value-id');
            } else {             
                id = swatch.getAttribute('data-value-id');
            }
               
            let obj = getValue(id);
              for (key in obj) {
                let replace = obj[key].replace;
                if (replace) {
                  let url = obj[key].url;
                  replaceImage(url);
               }
             }
          }
        })
      }, 500);
    }
     return data;
  };
}
  
  document.addEventListener("DOMContentLoaded",()=>{
    setTimeout(function () {

     let btns = document.querySelectorAll('.product-form__buttons, .partial-paymant__btn');

       if (!(document.querySelector('.mw-apo-container'))) {
          document.getElementById('mw-spinner')?.remove(); 
         document.querySelector('.mws-options').style.display = 'none';
         btns.forEach(btn=>{
           btn.classList.contains('disabled-mws') ? btn.classList.remove('disabled-mws') : '';
         }  
                     )
        
       }  
    }, 4000)
  });
</script>

<style> 
body{
    overflow: visible !important;
  }
  
.disabled-mws  {
    opacity: 0.2;
    pointer-events: none;
  }

  .mws-options {
    display: block;
     /* display: none; */
    height: 170px;
    width: 100%;
    position: relative;
    text-align: center;
  }
  #mws-toggle {
    position: absolute;
    top: 40px;
    right: 60px;
}
  .mws-gallery  {
    position: sticky;
    top: 1rem;
  }
  
  .mws-gallery img {
    display: inline-block;
    border-radius: 10px;
    max-width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    position: sticky;
    top: 1rem;
    cursor: pointer;
  }
  .mws_hide {
   display: none;
  }
  
  .mws-gallery_hide {
    z-index: 10000;
    position: sticky;
     top: 0px;
    width: 190%;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
   
  }
  .mws-gallery_hide img {
    max-width: 90%;
    margin-top: 20px;
  }
  .product__media-wrapper .product__column-sticky {
    position: static !important;
  }
      
  .mws-gallery_mobile {
    display: none;
    position: relative;
  }
    
  .mws-gallery_mobile:after {
    content: "";
    display: block;
    background: url('data:image/svg+xml,<svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M8.93767 16.4998C9.93081 16.4998 10.9142 16.3042 11.8318 15.9241C12.7493 15.5441 13.583 14.9871 14.2853 14.2848C14.9875 13.5826 15.5446 12.7489 15.9246 11.8314C16.3047 10.9139 16.5003 9.9305 16.5003 8.93739C16.5003 7.94428 16.3047 6.96089 15.9246 6.04338C15.5446 5.12587 14.9875 4.29219 14.2853 3.58996C13.583 2.88773 12.7493 2.33068 11.8318 1.95064C10.9142 1.57059 9.93081 1.37498 8.93767 1.37498C6.93193 1.37498 5.00834 2.17173 3.59007 3.58996C2.1718 5.00819 1.37503 6.93171 1.37503 8.93739C1.37503 10.9431 2.1718 12.8666 3.59007 14.2848C5.00834 15.703 6.93193 16.4998 8.93767 16.4998ZM17.8753 8.93739C17.8753 11.3077 16.9337 13.581 15.2575 15.2571C13.5814 16.9332 11.3081 17.8748 8.93767 17.8748C6.56725 17.8748 4.29392 16.9332 2.61778 15.2571C0.941644 13.581 0 11.3077 0 8.93739C0 6.56704 0.941644 4.29379 2.61778 2.6177C4.29392 0.941615 6.56725 0 8.93767 0C11.3081 0 13.5814 0.941615 15.2575 2.6177C16.9337 4.29379 17.8753 6.56704 17.8753 8.93739Z" fill="black"/><path d="M14.2233 16.145C14.2645 16.2 14.3085 16.2523 14.358 16.3032L19.6519 21.5969C19.9097 21.8549 20.2595 21.9999 20.6242 22C20.989 22.0001 21.3388 21.8554 21.5968 21.5975C21.8548 21.3397 21.9999 20.99 22 20.6252C22.0001 20.2605 21.8554 19.9106 21.5975 19.6526L16.3037 14.3589C16.2545 14.3092 16.2017 14.2632 16.1455 14.2214C15.6061 14.9569 14.958 15.606 14.2233 16.1464V16.145Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M8.93767 4.12495C9.12001 4.12495 9.29488 4.19738 9.42381 4.32631C9.55274 4.45524 9.62518 4.63011 9.62518 4.81244V8.2499H13.0627C13.2451 8.2499 13.42 8.32233 13.5489 8.45126C13.6778 8.58019 13.7503 8.75505 13.7503 8.93739C13.7503 9.11972 13.6778 9.29459 13.5489 9.42352C13.42 9.55245 13.2451 9.62488 13.0627 9.62488H9.62518V13.0623C9.62518 13.2447 9.55274 13.4195 9.42381 13.5485C9.29488 13.6774 9.12001 13.7498 8.93767 13.7498C8.75533 13.7498 8.58045 13.6774 8.45152 13.5485C8.32259 13.4195 8.25015 13.2447 8.25015 13.0623V9.62488H4.81259C4.63025 9.62488 4.45538 9.55245 4.32644 9.42352C4.19751 9.29459 4.12508 9.11972 4.12508 8.93739C4.12508 8.75505 4.19751 8.58019 4.32644 8.45126C4.45538 8.32233 4.63025 8.2499 4.81259 8.2499H8.25015V4.81244C8.25015 4.63011 8.32259 4.45524 8.45152 4.32631C8.58045 4.19738 8.75533 4.12495 8.93767 4.12495Z" fill="black"/></svg>');
    width: 22px;
    height: 22px;
    margin: 0 6px 0 0;
    position: absolute;
    z-index: 2;
    top: 4rem;
    left: 2rem;
  }
  
  .mws-gallery_mobile img {
    max-width: 100%;
    min-width: 100%;
    margin: 10px 0 20px 0;
    border-radius: 10px;
  }
  .mws_zoom img {
    min-width: max-content;
    min-height: max-content;
  }
  
  .mws_zoom  {
    position: relative;
  }
  .mws_zoom #mws-toggle_mobile {
    position: absolute;
    left: 20px;
    top: 30px;
  }

  .custom-gallery_mobile {
    position: fixed;
    top: 0;
    left: 0;
    overflow: auto;
    z-index: 1000;
    max-height: 100vh;
    width: 100%;
  }
    
  
  @media screen and (max-width: 749px) {
  .mws-gallery_hide {
      width: 110%;
  }
    .mws-gallery {
      display: none;
    }
      
    .mws-gallery_mobile {
     display: block;
  }
}
</style>

<style>
    /* ----- old loader for page --start ------ */
  /* .mw-spinner .mw-init-spinner{
    width:100%;
    text-align:center
    
  }
  .mw-spinner .mw-init-spinner>div{
    width:18px;
    height:18px;
    background-color:red;
    border-radius:100%;
    display:inline-block;
    -webkit-animation:sk-bouncedelay 1.4s infinite ease-in-out both;
    animation:sk-bouncedelay 1.4s infinite ease-in-out both}
  .mw-spinner .mw-init-spinner .bounce1{
    -webkit-animation-delay:-.32s;animation-delay:-.32s
  }
  .mw-spinner .mw-init-spinner .bounce2{
    -webkit-animation-delay:-.16s;animation-delay:-.16s
  }
  @-webkit-keyframes sk-bouncedelay{
    0%,100%,80%{-webkit-transform:scale(0)
  }
  40%{-webkit-transform:scale(1)}}
  @keyframes sk-bouncedelay{
    0%,100%,80%{-webkit-transform:scale(0);transform:scale(0)}40%{-webkit-transform:scale(1);transform:scale(1)}}

  .mw-spinner {
    position: absolute;
    left: 35%;
    top: 0;
    width: 100px;
    height: 30px;
    z-index: 99999;
    pointer-events: none;
  } */

   /* ----- old loader for page --end ------ */
  
.mws-btn-by-now{
  background-color: rgba(0, 0, 0, 0.8);
  pointer-events: none;
}
/* .mws-btn-by-now .loading-overlay__spinner {
  display: none!important;
} */
  
  @keyframes dash {
    0% {
      stroke-dashoffset: 280;
    }
    50% {
      stroke-dashoffset: 75;
      transform: rotate(135deg);
    }
    100% {
      stroke-dashoffset: 280;
      transform: rotate(450deg);
    }
  }
  
  .mws_hide-btn {
    display: none!important;
  }
  
  .loading-overlay__spinner {
    position: absolute;
    /* width: 1.8rem; */
     width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .spinner {
    animation: rotator 1.4s linear infinite;
 }
  
 .spinner .path {
    stroke-dasharray: 280;
    stroke-dashoffset: 0;
    transform-origin: center;
    stroke: white;
    animation: dash 1.4s ease-in-out infinite;
 }


  /* ----- loader ------ */
.loader {
  width: 35px;
  height: 35px;
  border: 5px solid;
  border-color: #FF3D00 transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
  
.shopify-payment-button__button[disabled] {
opacity: unset;
ackground-color: rgba(0, 0, 0, 0.8) !important;
}

  .payment-btn-loading-overlay__spinner .loading-overlay__spinner{
    z-index: 9999999;
    height: 100%;
    display: flex;
    justify-content: center;
    transform: translate(-8px, -1px);
    
  }
 @media screen and (max-width: 749px) {
   .payment-btn-loading-overlay__spinner .loading-overlay__spinner{
    transform: translate(-8px, -1px);
  }
    }



    /* ----- loader for page ------ */
    .mws-wrapper-loader{
/*   padding: 10px; */
}
.mws-option-loader{
  position: relative;
  display: inline-block;
}
.mws-text-loader{
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 16px;
  color: red;
  text-align: center;
}
.mws-option-loader .loader {
    width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
    border: 6px solid;
    border-color: #de3500 #0000 #de3500 #de3500;
    border-radius: 50%;
    box-sizing: border-box;
    animation: 1s rotate linear infinite;

 }
 .mws-option-loader .loader:before ,.mws-option-loader  .loader:after{
    content: '';
    top: 10px;
    right: 30px;
    position: absolute;
    border: 15px solid transparent;
/*     border-bottom-color:rgb(var(--color-foreground)); */
    transform: translate(-10px, 19px) rotate(-35deg);
  }
.mws-option-loader .loader:after {
    border-color: #de3500 #0000 #0000 #0000 ;
    transform: translate(32px, 3px) rotate(-35deg);
  }
   @keyframes rotate {
    100%{    transform: rotate(360deg)}
  }
</style>
