<div
            <div class="second-main">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="second-left">
                            {{ section.settings.hd }}
                            {{ section.settings.des }}
                            <a href="{{ section.settings.btn_url }}">
                            <button class="button">{{ section.settings.btn_text }}</button>
                            </a>
                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="second-right">
                            <div class="second-main-image">
                                <img src="https://cdn.shopify.com/s/files/1/0749/9707/2182/files/Group_9.png?v=1681474442" alt="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>


{% schema %}
{
  "name": "home3",
  "settings": [
    {
      "type":"text",
      "label":"Main Heading",
      "id":"hd",
      "default":"<h1>3D vs KLASYCZNE</h1>"
    },
    {
      "type":"text",
      "label":"Description",
      "id":"des",
      "default":" <p>We understand how important it is, to feel this specter of emotions. And this is exactly what we are doing in our company – helping you to form your kids` future. We understand how  important it is, to feel this specter of emotions. And this is exactly what we are doing in our company  – helping you to form your kids` future.</p>"
    },
     {
      "type":"text",
      "label":"Button Text",
      "id":"btn_text",
      "default":"SHOP NOW"
    },
    {
      "type":"url",
      "label":"Button Url",
      "id":"btn_url"
    },
    {
      "type":"image_picker",
      "label":"Main Image",
      "id":"img"
    },
    {
      "type":"image_picker",
      "label":"Image",
      "id":"img1"
    },
    {
      "type":"text",
      "label":"Image Text",
      "id":"des1",
      "default":"<span> <p>Classic</p> </span>"
    },
    {
      "type":"image_picker",
      "label":"Image",
      "id":"img2"
    },
    {
      "type":"text",
      "label":"Image Text",
      "id":"des2",
      "default":"<span> <p>3D edges - designed to protect <br> the side elements of the <br>interior finish</p></span>"
    },
    {
      "type":"image_picker",
      "label":"Image",
      "id":"img3"
    },
    {
      "type":"text",
      "label":"Image Text",
      "id":"des3",
      "default":"  <span> <p>Padding for durability <br> of the mat</p> </span>"
    },
    {
      "type":"image_picker",
      "label":"Image",
      "id":"img4"
    },
    {
      "type":"text",
      "label":"Image Text",
      "id":"des4",
      "default":" <span> <p>Additional 3D discs are selected <br> individually for each <br>car model</p> </span>"
    }
  ],
  "presets":[
    {
      "name":"home3",
      "category":"custom"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}