
      <div class='powr-mailchimp-email-signup' id='shopify-section-mailchimp-email-signup-{{ section.id }}'></div>
      {% schema %}
{
  "name": "Mailchimp Email Signup",
  "settings": [
    {
      "type": "header",
      "content": "Edit",
      "info": "Manage Plugins on [POWR.io](https://www.powr.io)"
    },
    {
      "type": "paragraph",
      "content": "Click Edit Me in Preview to Edit Mailchimp Email Signup."
    },
    {
      "type": "paragraph",
      "content": "[Need Help?](https://www.powr.io/knowledge-base)"
    }
  ],
  "presets": [
    {
      "name": "Mailchimp Email Signup",
      "category": "POWR Plugins"
    }
  ]
}
{% endschema %}
      