.main-blog {
     font-family: var(--font-ntc-somic-family);
     background-color: var(--background);
     color: #1B1D22;
     padding-top: var(--padding_top);
     padding-bottom: var(--padding_bottom);
}

.main-blog__heading {
     font-weight: var(--font-body-weight-bold);
     margin: 0 0 40px;
     padding: 0;
     font-size: 4.6rem;
     line-height: 1;
     letter-spacing: -0.92px;
}

.main-blog__brands-dropdown {
     position: relative;
     width: 360px;
}

.main-blog__dropdown-toggle {
     font-family: var(--font-ntc-somic-family);
     width: 100%;
     display: flex;
     align-items: center;
     border-radius: 16px;
     padding: 0;
     cursor: pointer;
     border: none;
     min-height: 64px;
     box-shadow: 15px 15px 40px rgba(39, 48, 69, 0.15);
     background-color: #FFFFFF;
}

.main-blog__toggle-image,
.main-blog__image-empty {
     width: 72px;
     flex-shrink: 0;
}

.main-blog__toggle-image img {
     width: 40px;
     height: auto;
     object-fit: contain;
     display: block;
     margin: 0 auto;
}

.main-blog__toggle-content {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
}

.main-blog__toggle-label {
     font-size: 1.4rem;
     line-height: 1.6;
     letter-spacing: -0.28px;
     opacity: 0.5;
}

.main-blog__toggle-title {
     font-size: 1.6rem;
     letter-spacing: -0.32px;
     font-weight: var(--font-body-weight-bold);
     line-height: 1;
}

.main-blog__brand-list {
     position: absolute;
     top: calc(100% + 8px);
     left: 0;
     width: 100%;
     display: none;
     flex-direction: column;
     background: #fff;
     z-index: 3;
     max-height: 240px;
     overflow-y: auto;
     border-radius: 16px;
     box-shadow: 15px 15px 40px rgba(39, 48, 69, 0.15);
}

.main-blog__brands-dropdown.active .main-blog__brand-list {
     display: block;
}

.main-blog__brand-item {
     display: block;
     padding: 15px 20px;
     text-decoration: none;
     color: #1B1D22;
}

.main-blog__brand-item:hover,
.main-blog__brand-item.active {
     background: #ff2741;
     color: #FFFFFF;
}

.main-blog__search {
     display: flex;
     gap: 10px;
     align-items: center;
     width: 360px;
     height: 64px;
     border-radius: 16px;
     background-color: #FFFFFF;
     overflow: hidden;
     box-shadow: 15px 15px 40px rgba(39, 48, 69, 0.15);
     padding: 0 25px;
}

.main-blog__search input {
     font-weight: var(--font-body-weight-bold);
     font-family: var(--font-ntc-somic-family);
     width: 100%;
     height: 100%;
     border: none;
     background-color: transparent;
     outline: none;
     font-size: 1.6rem;
     letter-spacing: -0.32px;
     color: #1B1D22;
}

.main-blog__search input::-webkit-input-placeholder {
     color: #1B1D22;
}

.main-blog__search input::-moz-placeholder {
     color: #1B1D22;
}

.main-blog__search input:-ms-input-placeholder {
     color: #1B1D22;
}

.main-blog__search input::placeholder {
     color: #1B1D22;
}

.main-blog__search-icon {
     width: 30px;
     flex-shrink: 0;
}

.main-blog__search-icon svg {
     display: block;
     width: 30px;
}

.main-blog__search-reset {
     display: flex;
     align-items: center;
     gap: 10px;
     letter-spacing: -0.32px;
     font-size: 1.6rem;
     color: #8090A4;
     padding: 0;
     border: none;
     cursor: pointer;
     background: transparent;
     transition: all ease .3s;
}

.main-blog__search-reset svg {
     display: block;
     width: 10px;
     opacity: .4;
}

.main-blog__search-reset:hover {
     color: #1B1D22;
}

.main-blog__search-reset:hover svg {
     opacity: 1;
}

.main-blog__drop-result .main-blog__count-result {
     display: none;
}

.main-blog__arrow-mobile {
     display: none;
}

.main-blog__arrow-mobile svg {
     display: block;
}

@media screen and (max-width: 750px) {
     .main-blog {
          padding-top: var(--padding_top_mobile);
          padding-bottom: var(--padding_bottom_mobile);
     }

     .main-blog__heading {
          font-size: 2.6rem;
          letter-spacing: -0.52px;
          margin: 0 0 20px;
     }

     .main-blog__brands-wrap {
          flex-direction: column;
     }

     .main-blog__search {
          order: 1;
          width: 100%;
          height: 58px;
          box-shadow: 5px 5px 30px 0 rgba(27, 29, 34, 0.10);
          padding: 0 20px;
     }

     .main-blog__drop-result {
          order: 2;
     }

     .main-blog__search-icon svg,
     .main-blog__search-icon {
          width: 20px;
     }

     .main-blog__search input {
          font-size: 1.5rem;
     }

     .main-blog__toggle-image, .main-blog__image-empty, .main-blog__toggle-title {
          display: none;
     }

     .main-blog__dropdown-toggle {
          min-height: auto;
          box-shadow: none;
          background-color: transparent;
     }

     .main-blog__toggle-label {
          opacity: 1;
          font-size: 1.5rem;
          color: #1B1D22;
          font-weight: var(--font-body-weight-bold);
     }

     .main-blog__drop-result .main-blog__count-result {
          display: flex;
          gap: 3px;
          color: #151515;
          letter-spacing: -0.26px;
          opacity: 0.5;
          font-size: 1.3rem;
     }

     .main-blog__drop-result {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
     }

     .main-blog__toggle-content {
          flex-direction: inherit;
          gap: 8px;
          align-items: center;
     }

     .main-blog__arrow-mobile {
          display: block;
     }

     .main-blog__brands-dropdown {
          width: inherit;
     }

     .main-blog__brand-list {
          width: 220px;
          height: 200px;
     }
}


